@import url("https://fonts.googleapis.com/css2?family=Marvel:wght@400;700&display=swap");

/*--------------------------*/
/*--------GENERAL-----------*/
/*--------------------------*/

* {
  background-color: black;
  font-family: "Marvel", sans-serif;
  box-sizing: border-box;
}

.x-icon {
  color: whitesmoke;
  margin-bottom: 15px;
}
.check-icon {
  color: #e5242a;
  margin-bottom: 15px;
}

.change-pages {
  /* border: 2px solid orange; */
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}
.previous,
.next {
  color: whitesmoke;
  font-family: "Marvel", sans-serif;
  font-weight: bold;
  font-size: 20px;
}

.previous:hover,
.next:hover {
  color: #fad325;
  font-family: "Marvel", sans-serif;
  font-weight: bold;
  font-size: 22px;
  cursor: pointer;
}
